html,
body {
    background: #292929;
    font-family: 'IBM Plex Serif', serif;
}

/* 
  The grandpappy element containg the cards. I'm
  using it as the 'root' of my elements in that
  all the cards and their corresponding content
  will be positioned relative to it.
*/

.wrapper {
    width: 400px;
    height: 270px;
    position: relative;
    top: 70px;
    margin: auto;
    opacity: 1;
    border-radius: 10px;
    background-color: #737373;
}

.spreaker-player {
    border-radius: 10px;
}

/* 
  Just the 'outline' of the sideways text card.
*/

.sideCard {
    position: absolute;
    top: 15px;
    left: -20px;
    width: 100px;
    height: 240px;
    background: #EE2C2C;
    border-radius: 10px;
    margin: auto;
    -webkit-animation: sideWaysFade 1s 1;
    /* Safari 4.0 - 8.0 */
    animation: sideWaysFade 1s 1;

}

.rightArrow {
    width: 50px;
    height: 50px;
    top: 70px;
    left: 376px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    font-size: 50px;
    color: #737373;

    /* Animation */
    -webkit-animation: sideWaysFade 1s 1;
    /* Safari 4.0 - 8.0 */
    animation: sideWaysFade 1s 1;
    ;
}

.leftArrow {
    width: 50px;
    height: 50px;
    top: 70px;
    left: -26px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    font-size: 50px;
    color: #737373;

    /* Animation */
    -webkit-animation: sideWaysFade 1s 1;
    /* Safari 4.0 - 8.0 */
    animation: sideWaysFade 1s 1;
}

/* 
  Container for the sideways text (Title) that 
  contains everything.
*/

#myDiv {
    width: 200px;
    height: 50px;
    top: 95px;
    left: -80px;
    position: absolute;
    background: none;
    z-index: 1;
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari */
    transform: rotate(-90deg);
    /* Standard syntax */
}

/* Main Card Should Be Slightly Transparent, But Will Be The Main Focus Of The Page */

.mainCard {
    width: 400px;
    height: 200px;
    opacity: 0.7;
    position: absolute;
    top: 35px;
    left: 45px;
    z-index: 1;
    background-color: #37FDFC;
    border-radius: 10px;
    -webkit-animation: topDownFade 1s 1;
    /* Safari 4.0 - 8.0 */
    animation: topDownFade 1s 1;
}

/* 
  Adding some animations
*/

/* @keyframes sideWaysFade { */

from {
    left: -100px;
    opacity: 0;
}

to {
    left: -20px;
}

}

/* 
  I have to declare the left position too,
  since it'll apply it AFTER the animation
  runs.
'*/

/* @keyframes topDownFade { */

from {
    top: -35px;
    left: 45px;
    opacity: 0;
}

to {
    left: 35px;
    left: 45px;
}

}
