/*
    Basic Styling
*/
html,body{
    background-color: #643A1C;
}

.page {
    display: flex;
    flex-wrap: wrap;
    background-color: #643A1C;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: transparent;
    height: 80px;
}

.header {
    /*background-color: #B2D6FF;*/
    background-color: transparent;
}

.content {
    background-color: #643A1C;
    height: 100px;
    /*Doing some rearranging*/
    order: 2;
}

.sign-up {
    background-color: transparent;
    /*Doing some rearranging*/
    order:1;
}

.feature-1 {
    background-color: #F5CF8E;
}

.feature-2 {
    background-color: #F09A9D;
}

.feature-3 {
    background-color: #C8C6FA;
}


/* For Even Smaller Devices (Or If Someone Resizes The Window) */
@media only screen and (max-width: 400px){
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 100%;
    }
    
    .sign-up > iframe {
        min-width: 150px;
        min-height: 200px;
    }
    
    .header > img {
        min-width: 80px;
        max-width: 200px;
    }
}


/* For Phones */
@media only screen and (min-width: 401px) and (max-width: 960px){
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 100%;
    }
    
    .sign-up > iframe {
        min-width: 400px;
        min-height: 300px;
    }
    
    .header > img {
        max-width: 280px;
    }
}

/* For Desktops */
@media only screen and (min-width: 961px){
    .page {
        width: 960px;
        margin: 0 auto;
    }
    
    .sign-up > iframe {
        min-width: 600px;
        min-height: 300px;
    }
    
    .header > img {
        max-width: 450px;
    }

    
    .feature-1,
    .feature-2,
    .feature-3 {
        width: 33.3%;
    }
    
    .header {
        height: 400px;
    }
}