html, body {
    background-color: #E0B45A;
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.header {
    width: 800px;
    height: 5%;
    /*background-color: #784C2A;*/
    border-radius: 10px;
    margin: auto;
}

span {
    margin: auto;
    position: relative;
    top: 15px;
    padding: 75px;
}

.mainScreen {
    width: 800px;
    height: 80%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    /*background-color: #F0CF92;*/
}

#toastBoi {
    width: 90%;
    position: absolute;
    top: 12%;
}